* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, #817b83, #73717c, #636875, #525f6d, #405763);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}

.page-header-title {
    text-align: center;
}

.input-container {
    text-align: center;
}

.city {
    height: 30px;
    // border: 1px solid black;
    border: transparent;
    background: #cccccc;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 10px;
    text-transform: uppercase;
}

::placeholder{
    color: #212224;
    font-size: 1em;
    text-transform: lowercase;
}

.submit-city {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 70px;
    height: 30px;
    font-size: 1em;
    border-radius: 30px;
    color: #212224;
    background-color: #cccccc;
    box-shadow: -8px 5px 21px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -8px 5px 21px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -8px 5px 21px 1px rgba(0, 0, 0, 0.75);
    
}

.weather-result-container {
    margin-top: 30px;
    width: 90%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.dayforecast {
    display: inline-block;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
}

.weather-results {
    display: block;
    margin-bottom: 10px;
    font-size: 1.17em;
}

.day {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
}
